<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>

	<connectionStrings>
		<add name="EventManagementConnectionString" connectionString="Data Source=LAXITASOJITRA\\SQLEXPRESS;Initial Catalog=Eventmgmt;Integrated Security=True" />
	</connectionStrings>
	
   <system.serviceModel>
    <services>
      <service name="EventManagementSystem.CustomerService" behaviorConfiguration="CustomerServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/EventManagementSystem/ICustomerService/" />
          </baseAddresses>
        </host>
             <endpoint address="CustomerService" binding="basicHttpBinding" contract="EventManagementSystem.ICustomerService" />
		<endpoint address="CustomerService" binding="netTcpBinding" contract="EventManagementSystem.ICustomerService" />
		  <identity>
			  <dns value="localhost" />
		  </identity>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

		
			<service name="EventManagementSystem.EventService" behaviorConfiguration="EventServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/EventManagementSystem/IEventService/" />
					</baseAddresses>
				</host>
				<endpoint address="EventService" binding="basicHttpBinding" contract="EventManagementSystem.IEventService" />
				<endpoint address="EventService" binding="netTcpBinding" contract="EventManagementSystem.IEventService" />
				<identity>
					<dns value="localhost" />
				</identity>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

		<service name="EventManagementSystem.FeedbackService" behaviorConfiguration="FeedbackServiceBehavior">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/Design_Time_Addresses/EventManagementSystem/IFeedbackService/" />
				</baseAddresses>
			</host>
			<endpoint address="FeedbackService" binding="basicHttpBinding" contract="EventManagementSystem.IFeedbackService" />
			<endpoint address="FeedbackService" binding="netTcpBinding" contract="EventManagementSystem.IFeedbackService" />
			<identity>
				<dns value="localhost" />
			</identity>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>

		<service name="EventManagementSystem.VenueService" behaviorConfiguration="VenueServiceBehavior">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/Design_Time_Addresses/EventManagementSystem/IVenueService/" />
				</baseAddresses>
			</host>
			<endpoint address="VenueService" binding="basicHttpBinding" contract="EventManagementSystem.IVenueService" />
			<endpoint address="VenueService" binding="netTcpBinding" contract="EventManagementSystem.IVenueService" />
			<identity>
				<dns value="localhost" />
			</identity>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
		
		
    </services>
    <behaviors>
		
      <serviceBehaviors>
        <behavior name="CustomerServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>

		<serviceBehaviors>
			<behavior name="EventServiceBehavior">
				<serviceMetadata httpGetEnabled="True" />
				<serviceDebug includeExceptionDetailInFaults="True" />
			</behavior>
		</serviceBehaviors>

		<serviceBehaviors>
			<behavior name="FeedbackServiceBehavior">
				<serviceMetadata httpGetEnabled="True" />
				<serviceDebug includeExceptionDetailInFaults="True" />
			</behavior>
		</serviceBehaviors>

		<serviceBehaviors>
			<behavior name="VenueServiceBehavior">
				<serviceMetadata httpGetEnabled="True" />
				<serviceDebug includeExceptionDetailInFaults="True" />
			</behavior>
		</serviceBehaviors>
		
    </behaviors>
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.35.0.0" newVersion="6.35.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="All">
				<listeners>
					<add name="traceListener" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Logs\TraceLog.svclog" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>
